{# /whatsnews/templates/about.html #}

{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<main class="container">
    <h1>About</h1>

    how it works
    for more info, go to... www.jbrcodes.com/blog/whats-news

    <div class="two-col">
        <h2>Intro</h2>

        <p>
            There are loads of news sources out there. And it's healthy to not rely too much
            on one source.

            The idea came from (kind of) a site called
            <a href="https://watchingamerica.com">Watching America</a>, where volunteers translate articles about the US
            in foreign websites. <em>What's New(s)?</em> is different in that the articles are
            typically about the country itself, and only the summaries of the articles are translated,
            using Artificial Intelligence (AI).
        </p>

        <h2>What It Does</h2>

        <p>...reads RSS files from websites, translates to EN</p>

        <h2>A Few Notes</h2>
        <ul>
            <li>
                <b>They are not the most important articles.</b>
                They seem to be random. They are possibly the most recently-published articles.
            </li>

            <li>
                <strong>Artificial Intelligence does the translations.</strong>
                AI works great for quick stuff. For more subtle translations,
                humans still do a better job.
            </li>
        </ul>
    </div>

</main>
{% endblock %}