{#def form, site_id = 0 #}


{% if site_id == 0 %}
    {% set action_url = url_for('admin.site.create') %}
{% else %}
    {% set action_url = url_for('admin.site.update', id=site_id) %}
{% endif %}


<form class="SiteForm" method="POST" action="{{ action_url }}">
    {% for field in form %}
        {% if field.type == 'CSRFTokenField' %}
            {{ form.csrf_token }}
        {% elif field.type == 'BooleanField' %}
            <div class="mb-3">
                {{ field(class_="form-check-input") }}
                <label for="{{ field.name }}" class="form-check-label">{{ field.label }}</label>
            </div>
        {% else %}
            <div class="mb-3">
                <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                {{ field(class_="form-control") }}
                {% if field.errors %}
                    <div class="wtf-field-error">
                        {{ field.errors[0] }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-outline-primary" href="{{ url_for('admin.site.index') }}">Cancel</a>
    </div>
</form>
