{#def site #}


<div id="{{ site.slug }}" class="HomeSiteGrid">
    <h2 class="margin-start-l margin-end-4xs">
        {{ site.name }}
        {% if site.name_en %}
            ({{ site.name_en }})
        {% endif %}
    </h2>
    <div class="split">
        <div>
            Website: <a href="{{ site.url }}">{{ site.url|strip_http }}</a>
            <br>
            Country: {{ site.country }}
        </div>

        <div>
            <select onchange="javascript:showLang(event, {{ site.id }})">
                <option value="dest">English</option>
                <option value="src">{{ site.language }}</option>
            </select>
        </div>
    </div>


    <div id="site_{{ site.id }}" class="margin-start-l grid-auto" style="--width: 30ch">
        {% for post in site.posts %}
            <div>
                <div class="jbr-card padding-4xs">
                    <div class="lang-dest">
                        <h3>{{ post.title_dest|safe }}</h3>
                        <div>{{ post.text_dest|safe }}</div>
                    </div>

                    <div class="lang-src">
                        <h3 dir="auto">{{ post.title_src|safe }}</h3>
                        <div dir="auto">{{ post.text_src|safe }}</div>
                    </div>

                    <div class="jbr-meta margin-start-m split align-end">
                        <script>doDateStr('{{ post.pub_date }}')</script>
                        <a class="btn primary" target="_blank" title="Go to original article" href="{{ post.url }}">go <i class="bi bi-box-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>