{# macros #}


{% macro duo_site_name(site) %}
    {{ site.name }}
    {% if site.name_en %}({{ site.name_en }}){% endif %}
{% endmacro %}


{% macro show_flashes() %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endmacro %}