/* /jbrbabel/static/jbrbabel.css */

:root {
    --body-bg-color: #f4f4f4;
    --card-bg-color: white;
    --orig-bg-color: #ccc;
    --hilight-color: #4c6787;
}

body {
    background-color: var(--body-bg-color);
}

h2 {
    border-bottom: 4px solid var(--hilight-color);
}

.my-card {
    background-color: var(--card-bg-color);
}

.my-card h3 {
    font-size: 1.25em;
}

.orig-lang {
    display: none;
    background-color: var(--orig-bg-color);
}

.show-orig {
    display: block;
}